<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.psmybatis.dao.MemberMapper">

	<resultMap type="Member" id="memberResultMap">
		<result property="memberId" 		column="m_id"/>
		<result property="memberPw" 		column="m_pw"/>
		<result property="memberName" 		column="m_name"/>
		<result property="memberLevel" 		column="m_level"/>
		<result property="memberEmail"		column="m_email"/>
		<result property="memberAddr" 		column="m_addr"/>
		<result property="memberRegDate" 	column="m_reg_date"/>
	</resultMap>
	
	<select id="getMemberList" resultType="Member">
		SELECT 
			 m_id			AS memberId
			, m_pw			AS memberPw
			, m_name		AS memberName
			, m_level		AS memberLevel
			, m_email		AS memberEmail
			, m_addr		AS memberAddr
			, m_reg_date	AS memberRegDate
		FROM 
			tb_member;
	</select>
	
	<select id="modifyMember" parameterType="String" resultMap="memberResultMap">
		SELECT
			*
		FROM
			tb_member
		WHERE
			m_id = #{memberId};	
	</select>
	
	<insert id="addMember" parameterType="Member">
		INSERT INTO tb_member
			(m_id
			, m_pw
			, m_name
			, m_level
			, m_email
			, m_addr
			, m_reg_date
			) VALUES (
			  #{memberId}
			, #{memberPw}
			, #{memberName}
			, #{memberLevel}
			, #{memberEmail}
			, #{memberAddr}
			,CURDATE());
	</insert>
	
	<update id="updateMember" parameterType="Member">
		UPDATE tb_member
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPw != null and memberPw != ''.toString()">
				m_pw = #{memberPw},
			</if>
			<if test="memberName != null and memberName != ''.toString()">
				m_name = #{memberName},
			</if>
			<if test="memberLevel != null and memberLevel != ''.toString()">
				m_level = #{memberLevel},
			</if>
			<if test="memberEmail != null and memberEmail != ''.toString()">
				m_email = #{memberEmail},
			</if>
			<if test="memberAddr != null and memberAddr != ''.toString()">
				m_addr = #{memberAddr},
			</if>
		</trim>
		WHERE m_id = #{memberId};
	</update>
	
	<delete id="loginDelete" parameterType="String">
		DELETE
		FROM
			tb_login
		WHERE
			login_id = #{memberId};
	</delete>
	<delete id="orderDeleteById" parameterType="String">
		DELETE
		FROM
			tb_order
		WHERE
			o_id = #{memberId};
	</delete>
	<delete id="orderDeleteBySellerId" parameterType="String">
		DELETE
			o
		FROM
			tb_goods AS g
			INNER JOIN
			tb_order AS o
			on
			g.g_code = o.o_g_code
		WHERE
			g.g_seller_id = #{memberId};
	</delete>
	<delete id="goodsDelete" parameterType="String">
		DELETE
		FROM
			tb_goods
		WHERE
			g_seller_id = #{memberId};
	</delete>
	<delete id="memberDelete" parameterType="String">
		DELETE
		FROM
			tb_member
		WHERE
			m_id = #{memberId};
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>