<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="left" class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="/AdminLTE3/index3.html" class="brand-link">
	  <img th:src="@{/AdminLTE3/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
	  <span class="brand-text font-weight-light">AdminLTE Guide</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
	  <!-- Sidebar user panel (optional) -->
	  <div class="user-panel mt-3 pb-3 mb-3 d-flex" th:unless="${session.SID eq null}">
	    <div class="image">
	      <img th:src="@{/AdminLTE3/dist/img/psm2.jpg}" class="img-circle elevation-2" alt="User Image">
	    </div>
	    <div class="info">
	      <a href="#" class="d-block">[[${session.SLEVELNAME}]] [[${session.SNAME}]]</a>
	    </div>
	  </div>
	  <div class="user-panel mt-3 pb-3 mb-3 d-flex" th:if="${session.SID eq null}">
	    <div class="image">
	      <img th:src="@{/AdminLTE3/dist/img/usernull.jpg}" class="img-circle elevation-2" alt="User Image">
	    </div>
	    <div class="info">
	      <a th:href="@{/login}" class="d-block">로그인을 해주세요.</a>
	    </div>
	  </div>
	
	  <!-- SidebarSearch Form -->
	  <div class="form-inline">
	    <div class="input-group" data-widget="sidebar-search">
	      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
	      <div class="input-group-append">
	        <button class="btn btn-sidebar">
	          <i class="fas fa-search fa-fw"></i>
	        </button>
	      </div>
	    </div>
	  </div>
	
	  <!-- Sidebar Menu -->
	  <nav class="mt-2">
	    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	      <!-- Add icons to the links using the .nav-icon class
	           with font-awesome or any other icon font library -->
	      <li class="nav-item">
	        <a th:href="@{/memberList}" th:if="${session.SLEVEL == '1'}" class="nav-link">
	          <i class="nav-icon fas fa-calendar-alt"></i>
	          <p>
	            	전체회원조회
	            	<span class="right badge badge-danger">#</span>
	          </p>
	        </a>
	      </li>
	      <li class="nav-item">
	        <a th:href="@{/addGoods}" class="nav-link" th:if="${session.SLEVEL == '1' or session.SLEVEL == '2'}">
	          <i class="nav-icon far fa-image"></i>
	          <p>
	            	상품등록
	            <span class="right badge badge-danger">#</span>
	          </p>
	        </a>
	      </li>
	      <li class="nav-item">
	        <a th:href="@{${session.SLEVEL == '2'? '/goodsList?goodsSellerId='+session.SID : '/goodsList'}}" th:unless="${session.SID eq null}" class="nav-link">
	          <i class="nav-icon fas fa-columns"></i>
	          <p>
	            	전체상품조회
	            <span class="badge badge-info right">!</span>
	          </p>
	        </a>
	      </li>
	      <li class="nav-item">
	        <a href="#" th:unless="${session.SID eq null}" class="nav-link">
	          <i class="nav-icon fas fa-columns"></i>
	          <p>
	            	챌린지
	            <span class="badge badge-info right">!</span>
	          </p>
	        </a>
	      </li>
	      <li class="nav-item">
	        <a href="#" th:unless="${session.SID eq null}" class="nav-link">
	          <i class="nav-icon fas fa-columns"></i>
	          <p>
	            	코칭
	            <span class="badge badge-info right">!</span>
	          </p>
	        </a>
	      </li>
	    </ul>
	  </nav>
	  <!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
</html>