<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">addMember title</title>
	<div class="col-sm-12" th:align="center">
		<h1 class="m-0">🔑 회원가입🔑</h1>
	</div><!-- /.col -->
	<div class="col-sm-12" th:align="right">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">addMember</a></li>
			<li class="breadcrumb-item active">addMember.html</li>
		</ol>
	</div><!-- /.col -->
</th:block>

<th:block layout:fragment="pageJavascript">
	<script>
	$(function(){
		$('#idCheckBtn').click(function(){
			var memberId = $('input[name="memberId"]').val();
			console.log('입력한 memberId의 값 : ' + memberId);
			if(memberId != '' && memberId != undefined && memberId != null){
				var request = $.ajax({
					url: "/memberIdCheck",
					method: "POST",
					data: { memberId : memberId },
					dataType: "json"
				});
				request.done(function(data){
					if(data == true){
						var regExpId = /^[a-z]+[a-z0-9]{5,19}$/g;
						var idCheck = $('input[name="memberId"]');
						if(idCheck){
							if(!regExpId.test(memberId)){
								alert("아이디는 영문자로 시작하는 6~20자 영문자 또는 숫자이어야 합니다.");
								idCheck.removeAttr('disabled');
								idCheck.focus();
							}else{
								alert("중복된 아이디가 없습니다.");
								console.log(data);
								$('input[name="memberId"]').attr('disabled','disabled');
								$('input[name="memberPw"]').prop('disabled',false);			//prop 방식
								$('input[name="memberName"]').prop('disabled',false);
								$('select[name="memberLevel"]').removeAttr('disabled');		//removeAttr 방식
								$('input[name="memberEmail"]').removeAttr('disabled');
								$('input[name="memberAddr"]').removeAttr('disabled');
								$('#addMemberBtn').removeAttr('disabled');
							};
						};
					}else if(data == false){
						alert("중복된 아이디가 있습니다.");
						console.log(data);
					};
				});
				request.fail(function( jqXHR, textStatus ){
					alert( "Request failed: " + textStatus );
				});
			};
		});
		
		
		$('#addMemberBtn').click(function(){
			var regExpId = /^[a-z]+[a-z0-9]{5,19}$/g;
			var regExpPw = /(?=.*\d{1,50})(?=.*[~`!@#$%\^&*()-+=]{1,50})(?=.*[a-zA-Z]{2,50}).{8,50}$/;
			var regExpEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
			var submitFlag = true;
			var memberForm = $('#addMemberForm');
			var inputObj = memberForm.find('input');
			
			$.each(inputObj, function(e){
				var agree = $('input[name="agreeTerms"]').attr('checked');
				var inputName = $(this).attr('name');
				var inputValue = $(this).val();
				var inputDefult = $(this).attr('data-value');
				
				if(inputName == 'memberPw'){
					if(!regExpPw.test(inputValue)){
						alert('비밀번호는 숫자,특수문자 각 1자 이상, 영문은 2자 이상 사용하여 8자리 이상 입력하세요.');
						$(this).focus();
						submitFlag = false;
						return submitFlag;
					};
				}else if(inputName == 'memberEmail'){
					if(!regExpEmail.test(inputValue)){
						alert('이메일을 형식에 맞게 다시 입력해주세요.');
						$(this).focus();
						submitFlag = false;
						return submitFlag;
					};
				}else{
					if(inputValue == '' || inputValue == undefined || inputValue == null){
						alert(inputDefult + '을 입력해주세요.');
						$(this).focus();
						submitFlag = false;
						return submitFlag;
					};
				};
				if(agree){
					alert('회원가입을 원하시면 동의를 체크해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
				};
			});
			if(submitFlag) memberForm.submit();
		});
	});	
	</script>
</th:block>

<th:block layout:fragment="container">
<div class="col-sm-12" th:align="center">
	<div class="register-box">
		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">회원가입을 진행하여 주십시오.</p>
				<form id="addMemberForm" th:action="@{/addMember}" method="post">
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberId"  placeholder="아이디를 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
				    	</div>
						<button type="button" style="margin-left: 10px" id="idCheckBtn" class="btn btn-block btn-outline-info btn-xs col-3">중복체크</button>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" name="memberPw" data-value="패스워드" disabled="disabled" placeholder="패스워드 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberName" data-value="이름" disabled="disabled" placeholder="이름을 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<select name="memberLevel" style="width: 88%" disabled="disabled">
							<option value="">권한선택하세요</option>
							<option value="1">관리자</option>
							<option value="2">판매자</option>
							<option value="3">구매자</option>
						</select>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="email" class="form-control" name="memberEmail" data-value="이메일" disabled="disabled" placeholder="이메일 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberAddr" data-value="주소" disabled="disabled" placeholder="주소를 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8" th:align="left">
							<div class="icheck-primary">
								<input type="checkbox" name="agreeTerms" value="agree">
								<label for="agreeTerms">
									I agree Resist
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" id="addMemberBtn" class="btn btn-primary btn-block" disabled="disabled">회원가입</button>
						</div>
						<!-- /.col -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</th:block>
</html>

