<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">deleteMember title</title>
	<div class="col-sm-12" th:align="center">
		<h1 class="m-0">🔑 회원탈퇴🔑</h1>
	</div><!-- /.col -->
	<div class="col-sm-12" th:align="right">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">deleteMember</a></li>
			<li class="breadcrumb-item active">deleteMember.html</li>
		</ol>
	</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
<div class="col-sm-12" th:align="center">
	<div class="register-box">
		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">탈퇴를 진행해 주세요.</p>
				<form th:action="@{/deleteMember}" method="post">
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberId" th:value="${memberId}" placeholder="아이디를 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
				    	</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" name="memberPw" placeholder="패스워드 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" name="memberPwCheck" placeholder="패스워드 확인">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8" th:align="left">
							<div class="icheck-primary">
								<input type="checkbox" id="agreeTerms" name="agreeTerms" value="agree">
								<label for="agreeTerms">
									I agree Resist
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">회원탈퇴</button>
						</div>
						<!-- /.col -->
					</div>
				</form>
				<p class="login-box-msg" th:if="${fail != null}" th:text="${fail}" style="color: red;"></p>
			</div>
		</div>
	</div>
</div>
</th:block>

<th:block layout:fragment="pageJavascript">

</th:block>
</html>

