<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
	<title th:text="${title}">addMember title</title>
	<div class="col-sm-12" th:align="center">
		<h1 class="m-0">🔑 회원수정🔑</h1>
	</div><!-- /.col -->
	<div class="col-sm-12" th:align="right">
		<ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="/">updateMember</a></li>
			<li class="breadcrumb-item active">updateMember.html</li>
		</ol>
	</div><!-- /.col -->
</th:block>
<th:block layout:fragment="container">
<div class="col-sm-12" th:align="center">
	<div class="register-box">
		<div class="card">
			<div class="card-body register-card-body">
				<p class="login-box-msg">회원수정을 진행하여 주십시오.</p>
				<form th:action="@{/updateMember}" method="post">
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberId" th:value="${member.memberId}" placeholder="아이디를 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
				    	</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" name="memberPw" th:value="${member.memberPw}" placeholder="패스워드 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberName" th:value="${member.memberName}" placeholder="이름을 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<select name="memberLevel" style="width: 88%">
							<option value="">권한선택하세요</option>
							<option value="1" th:selected="${member.memberLevel == '1'}">관리자</option>
							<option value="2" th:selected="${member.memberLevel == '2'}">판매자</option>
							<option value="3" th:selected="${member.memberLevel == '3'}">구매자</option>
						</select>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="email" class="form-control" name="memberEmail" th:value="${member.memberEmail}" placeholder="이메일 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="memberAddr" th:value="${member.memberAddr}" placeholder="주소를 입력하세요">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8" th:align="left">
							<div class="icheck-primary">
								<input type="checkbox" id="agreeTerms" name="agreeTerms" value=false>
								<label for="agreeTerms">
									I agree Resist
								</label>
							</div>
						</div>
						<!-- /.col -->
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">회원가입</button>
						</div>
						<!-- /.col -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</th:block>

<th:block layout:fragment="pageJavascript">
	<script type="text/javascript">
		document.getElementById('agreeTerms').addEventListener('change', function(){
			document.getElementById('agreeTerms').attributes.value = document.getElementById('agreeTerms').checked;
		})
	</script>
</th:block>
</html>

